*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;;
}

header {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0  5% 0 5%;
    align-items: center;
    position: fixed;
    width: 100%;
}
header img{
    height: 70px;
}

header a {
    color: black;
    text-align: center;
    font-family: Calibri;
    padding: 12px;
    margin: 0 .5rem 0 .5rem;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a.logo-button:hover{
    background-color: transparent;
}

.section-blog{
    background-color: white;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

.section-portfolio{
    background-color: transparent;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

.header-right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.portfolio-buttons{
    display: flex;
    flex-direction: row;
}

.portfolio-buttons a {
    color: black;
    text-align: center;
    font-family: Calibri;
    padding: 12px;
    margin: 0 .5rem 0 .5rem;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.portfolio-buttons a:hover {
    background-color: #ddd;
    color: black;
}

.button-overlay{
    display: flex;
    background-color: #1982FC;
    border-radius: 18px;
    scale: 180%;
}

.button-overlay a {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Calibri;
    padding: 12px;
    margin: 0 .5rem 0 .5rem;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.button-overlay:hover {
    background-color: #f6f3ed;
}

.button-overlay a:hover{
    color: black;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: #b69fea;
    color: white;
}

.separator {
    background-color: darkgray;
    width: 100%;
    height: 1px;
    padding-bottom: 6.4rem;
}

body{
    margin: auto;
    background-color: #f5f5f5;
    font-family: Calibri;
}

.container2 {
    max-width: 75%;
    height: 9rem;
    background-color: #fbfbfd;
    margin: auto;
}

.container3 {
    width: 100%;
    height: 9rem;
    background-color: #070724;
    margin: auto;
}
section .obrazekreditele img{
    flex: 1;
    height: auto;
    margin: 0;
}
.obrazekreditele{
    display: grid;
    place-items: center;
    width: 100%;
}

section .slova-contacts p {
    color: white;
    text-align: center;
    font-style: italic;
    margin: auto auto 2.248514rem auto;
}

section .slova p {
    color: #a2a2a2;
    text-align: center;
    font-style: italic;
    margin: auto auto 2.248514rem auto;
}

.header-welcome{
    font-family: Calibri;
    font-weight: 300;
    text-align: center;
}

.mainblock2{
    width: 100%;
    height: 80px;
    padding-top: 1.248514rem;
    margin-top: 10px;
}
.mainblock2 h1 {
    color: white;
    font-weight: 300;
    text-align: center;
}

.mainblock1{
    width: 100%;
    height: 80px;
    padding-top: 1.248514rem;
    margin-top: 10px;
}

.mainblock1 h1 {
    color: black;
    font-weight: 300;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    font-family: Calibri;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    background: #fbfbfd;
    align-items: center;
}
.main-block{
    width: 100%;
    height: 300px;
}
.main-title{
    margin: auto;
    color: #000000;
}
.main-title h1{
    color: black;
    margin: 25px 50px;
}
.blog{
    flex: 1;
    margin: 35px 17px;
    padding: 10px 10px;
    background-color: #f3f3f4;
    max-width: 330px;
    max-height: 389px;
}
.portfolio{
    flex: 1;
    margin: 35px 17px;
    padding: 10px 10px;
    text-align: center;
    max-width: 330px;
    max-height: 389px;
    font-family: "Calibri Light";
    font-style: italic;
}
.section-portfolio img{
    max-width: 240px;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog h2{
    color: black;
    text-align: center;
}
.blog p{
    color: black;
    overflow-wrap: anywhere;
    max-width: 100%;
}
.content{
    display: flex;
    margin: 25px 20px;
    justify-items: center;
    filter: blur(4px);
}
article .blog{
    display: flex;
    width: 280px;
    margin: 35px 15px;
    padding: 10px 10px;
}
section p{
    text-align: center;
}
.tlacitko a:hover {
    color: #ffffff;
}